<div class="tools-grid">
  {% for curso in site.data.cursos %}
    <div class="tool-card">
      <div class="tool-tag tag-pkg">{{ curso.tag }}</div>
      {% if curso.logo %}
        <div class="curso-logo">
          <img src="{{ curso.logo | prepend: 'assets/img/' | relative_url }}" alt="{{ curso.institution }}">
        </div>
      {% endif %}
      <h4>{{ curso.title[site.active_lang] }}</h4>
      <p>
        {% if curso.flag %}{{ curso.flag }} {% endif -%}
        {{- curso.institution -}}
        <br>
        {{ curso.date[site.active_lang] -}}
        <br>
        {{ curso.collaborators }}
      </p>
      <div class="tool-actions">
        {% if curso.materials %}
          <a href="{{ curso.materials }}" class="btn btn-primary" target="_blank">{{ site.data[site.active_lang].strings.cursos.materials }}</a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
