{% for social in site.data.socials %}
  {% case social[0] %}
    {% when 'github_username' %}
      <a href="https://github.com/{{ social[1] }}" target="_blank" title="GitHub"><i class="fa-brands fa-github"></i>GitHub</a>
    {% when 'orcid_id' %}
      <a href="https://orcid.org/{{ social[1] }}" target="_blank" title="ORCID"><i class="ai ai-orcid"></i>ORCID</a>
    {% when 'osf_id' %}
      <a href="https://{{ social[1] }}/" target="_blank" title="Open Science Framework"><i class="ai ai-osf"></i>OSF</a>
    {% when 'publons_id' %}
      <a href="https://publons.com/a/{{ social[1] }}/" target="_blank" title="Publons"><i class="ai ai-publons"></i>Publons</a>
    {% when 'research_gate_profile' %}
      <a href="https://www.researchgate.net/profile/{{ social[1] }}/" target="_blank" title="ResearchGate"
        ><i class="ai ai-researchgate"></i>ResearchGate</a
      >
    {% when 'scholar_userid' %}
      <a href="https://scholar.google.com/citations?user={{ social[1] }}" target="_blank" title="Google Scholar"
        ><i class="ai ai-google-scholar"></i>Scholar</a
      >
    {% when 'scopus_id' %}
      <a href="https://www.scopus.com/authid/detail.uri?authorId={{ social[1] }}" target="_blank" title="Scopus"
        ><i class="ai ai-scopus"></i>Scopus</a
      >
    {% when 'telegram_username' %}
      <a href="https://t.me/{{ social[1] }}" target="_blank" title="Telegram"><i class="fa-brands fa-telegram"></i>Telegram</a>
    {% when 'x_username' %}
      <a href="https://x.com/{{ social[1] }}" target="_blank" title="X"><i class="fa-brands fa-x-twitter"></i>X</a>
    {% when 'youtube_id' %}
      <a href="{{ social[1] }}" target="_blank" title="YouTube"><i class="fa-brands fa-youtube"></i>YouTube</a>
  {% endcase %}
{% endfor %}
